services:
  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: customer_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mock-server:
    build: ./mock-server
    container_name: mock-server
    ports:
      - "5000:5000"
    depends_on:
      - postgres

  pipeline-service:
    build: ./pipeline-service
    container_name: pipeline-service
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - mock-server
    environment:
      DATABASE_URL: postgresql://postgres:password@postgres:5432/customer_db
      MOCK_API_URL: http://mock-server:5000

volumes:
  postgres_data:
